.navbar{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(148, 234, 205);
    padding-bottom: 10px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    margin-left: 20%;
    font-size: 25px;
    color: grey;
}

#jobForm{
    font-size: 20px;
}